@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: beige;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1{
    font-size: 50px;
    margin-bottom: 60px;
}

.form-control{
    position: relative;
    margin: 20px 0;
    width: 300px;
}

.form-control input{
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    display: block;
    padding: 12px 0;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
    background: beige;
}

.form-control label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    color: darkgoldenrod;
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background-color: rgb(226, 226, 181);
    color: rgb(119, 94, 47);
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
}

.fa-solid{
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    cursor: pointer;
}