*{
    box-sizing: border-box;
}

body{
    background: beige;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 30px;
}

.container{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

label{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 15px 20px;
    background: none;
    outline: none;
    border: 2px solid rgb(128, 116, 54);
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-bottom: 20px;
}