.containerp{
    width: 100%;
    height: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containers{
    width: 200px;
    height: 10px;
    margin-top: 20px;
    margin-right: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.containerc{
    width: 50px;
    height: 10px;
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.btnc{
    padding: 5px 30px;
    background: #dae5d0;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
}

.btnp{
    padding: 5px 30px;
    background: #fefbe7;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
}

.popup{
    width: 400px;
    background: #f9ebc8;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: tranfrom 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    position: fixed;
    top: 300px;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgb(0,0,0,0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button, .popup2 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(0,0,0,0.2);
}