@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    scroll-behavior: smooth;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}

img{
    width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    width: 100%;
    background: beige;
    position: fixed;
    left: 0;
    top: 0;
}

nav{
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 2.5rem;
    color: rgb(94, 77, 77);
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li{
    list-style: none;
    margin: 0 1.5rem;
}

li a{
    color: rgb(175, 151, 151);
    font-size: 1.6rem;
    text-decoration: none;
}

section{
    padding: 5rem 0;
}

.box{
    border: 5px solid wheat;
    border-radius: 5px;
    padding: 2rem;
    margin-top: 4rem;
}

h2{
    font-size: 3rem;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex > * {
    margin: 1rem;
}

.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    background: transparent;
    padding: 1rem;
    border: 5px solid rgb(248, 222, 165);
    outline: none;
    cursor: pointer;
    z-index: 111;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.3s;
}

.show-btn{
    opacity: 1;
    transform: translateY(0);
}